@media screen and (max-width: 600px) {
    .cat {
        height:30vh !important;
        width:30vh !important;
    }
    .first-picture {
        border:lightgreen solid 5px !important;
    }
    
    .second-picture {
        border: lightcoral solid 5px !important;
    }
    .ranking-box-main-text {
        font-size: 1em !important;
    }
    
    .ranking-box-secondary-text {
        font-size: 0.8em !important;
    }

    .cat:hover {
        border: pink 5px solid !important;
        cursor: pointer !important;
    }
}

@media screen and (max-height: 300px) {
    .cat {
        height:30vh !important;
        width:30vh !important;
    }
    .first-picture {
        border:lightgreen solid 5px !important;
    }
    
    .second-picture {
        border: lightcoral solid 5px !important;
    }
    .title {
        font-size: 2.5em !important;
    }
    .cat:hover {
        border: pink 5px solid !important;
        cursor: pointer !important;
    }
}

@media screen and (max-height: 300px)  and (max-width: 600px){
    .ranking-box-main-text {
        font-size: 0.8em !important;
    }
    
    .ranking-box-secondary-text {
        font-size: 0.6em !important;
    }
}

.main-content {
    display: flex;
    height: 100vh;
}

.box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.first-choice {
    background-color: lightcoral;
    width: 100%;
    position: relative;
}

.second-choice {
    background-color: lightgreen;
    width: 100%;
    position: relative;
}

.cat {
    height:40vh;
    width:40vh;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.first-picture {
    border:lightgreen solid 10px;
}

.second-picture {
    border: lightcoral solid 10px;
}

.cat:hover {
    border: pink 12px solid;
    cursor: pointer;
}

.title {
    position: absolute;
    font-weight: bold;
    font-size: 5em;
    font-family: monospace;
    transition: all 0.5s ease;
}

.title-left {
    top: 0;
    right: 0;
    color: lightgreen;
    border-top: lightgreen solid 5px;
    border-bottom: lightgreen solid 5px;
    border-left: lightgreen solid 5px;

}

.title-right {
    top: 0;
    left: 0;
    color: lightcoral;
    border-top: lightcoral solid 5px;
    border-bottom: lightcoral solid 5px;
    border-right: lightcoral solid 5px;
}

.ranking-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom:0;
    width: 100%;
}

.ranking-box-content {
    border: 2px solid palevioletred;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s ease;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding-right: 4em;
    padding-left: 4em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.ranking-box-content:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding-top: 1.2em;
    cursor: pointer;
    padding-right: 4.5em;
    padding-left: 4.5em;
}

.ranking-box-main-text {
    font-size: 1.5em;
    transition: all 0.5s ease;
}

.ranking-box-secondary-text {
    font-size: 1em;
    transition: all 0.5s ease;
}