<div class="main-content">
  <div class="first-choice box">
    <span class="title title-left">CAT</span>
    <img *ngIf="isDataLoaded" class="first-picture cat" [src]="firstCat.url" (click)="vote(true)">
  </div>
  <div class="second-choice box">
    <span class="title title-right">MASH</span>
    <img *ngIf="isDataLoaded" class="second-picture cat" [src]="secondCat.url" (click)="vote(false)">
  </div>
  <div class="ranking-box" (click)="openDialog()">
    <div class="ranking-box-content">
      <span class="ranking-box-main-text">Voir les plus beaux chats</span>
      <span class="ranking-box-secondary-text">{{voteCounter}} votes</span>
    </div>
  </div>
</div>