<div class="main-content">
  <div class="first-choice box">
    <span class="title title-left">CAT</span>
    <img class="first-picture cat" src="http://24.media.tumblr.com/tumblr_m82woaL5AD1rro1o5o1_1280.jpg">
  </div>
  <div class="second-choice box">
    <span class="title title-right">MASH</span>
    <img class="second-picture cat" src="http://24.media.tumblr.com/tumblr_m29a9d62C81r2rj8po1_500.jpg">
  </div>
  <div class="ranking-box"> 
      <div class="ranking-box-content">
        <span class="ranking-box-main-text">Voir les plus beaux chats</span>
        <span class="ranking-box-secondary-text">{{voteCounter}} votes</span>  
      </div>
    </div>
</div>
